<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-form-group></app-form-group> -->
<!-- <app-templateform></app-templateform>
<div>
<app-filter-table></app-filter-table>
</div> --> 
<div>
     <app-toolbar></app-toolbar>
<!-- <nav>
        <h1 style="font-weight:normal">Components List</h1>
        <button pButton type="button" routerLink="formgroup" label=ReactiveForm></button>&nbsp;&nbsp;&nbsp;
        <button pButton type="button" routerLink="filtertable" label=FilterTable></button>&nbsp;&nbsp;&nbsp;
        <button pButton type="button" routerLink="/template/parameter" label=TemplateForm></button>&nbsp;&nbsp;&nbsp;

</nav> -->
    
</div>
<br>
<router-outlet></router-outlet>